## ABOUT DATA SET

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 

#creating a basic example datasets 
data = {
    
    'Month' : ['jan' , 'Feb'  , 'Mar' , 'Apr' , 'May'] , 
    'Sales' : [150 , 200 , 180 , 220 , 250] , 
    'Expenses' : [80  , 100 , 90 , 110 , 120]
    
}

In [7]:
import pandas as pd 
df = pd.DataFrame(data )
df

  Month  Sales  Expenses
0   jan    150        80
1   Feb    200       100
2   Mar    180        90
3   Apr    220       110
4   May    250       120